html {
  font-size: 1vmax;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.3vmax solid #318079;
  padding: 1% 2% ;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(74, 74, 74);
  width: 19vmax;
  margin-right: 2%;
}
.logo-container img {
  width: 3vmax;
}
h1 {
  margin: 0;
}
.search-container{
  position: relative;
}
.search {
  display: block;
  font-size: 1.5rem;
  padding-left: 2%;
  width: 35vmax;
  height: 3vmax;
  border: solid 0.1vmax;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  transition: 0.2s;
  border: 2px solid #000000;
  margin-left: 2%;
  opacity: 0.4;
}
.search:focus {
  box-shadow: 0px 0px 10px 0px rgb(31, 67, 53);
}

.search:focus + .clear-btn {
  background-image: url(./assets/close.svg);
  cursor: pointer;
}

header {
  padding-left: 2%;
  padding-right: 2%;
}
.clear-btn {
  position: absolute;
  top: 25%;
  right: 1%;
  width: 1.5vmax;
  height: 1.5vmax;
  background-repeat: no-repeat;
  background-image: url(./assets/search.svg);
  background-size: contain;
  border: none;
  background-color: transparent;
  transition: 0.1s;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.img-container {
  width: 25vmax;
  height: 15vmax;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}

.img-container img {
  width: 100%;
}
footer {
  display: flex;
  align-items: center;
  padding: 1%;
}
.rs-logo {
  display: block;
  background-image: url('https://rs.school/images/rs_school_js.svg');
  background-size: 100% 100%;
  width: 8vmax;
  height: 2vmax;
}
.gh-link {
  color: #000000;
  text-decoration: none;
  margin-right: 1%;
}
.message {
  color: rgb(74, 74, 74);
}
@media (max-width: 840px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  .img-container {
    width: 100%;
    height: 50vmin;
  }
}